@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.auth__page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* MAIN */
  .auth {
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

    &.active {
      .auth__form--signin {
        transform: translateX(100%);

        &.hidden {
          display: none;
        }
      }

      .auth__form--signup {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
      }

      .auth__toggle-wrapper {
        transform: translateX(-100%);
        border-radius: 0 150px 100px 0;
      }

      .auth__toggle {
        transform: translateX(50%);
      }

      .auth__panel--left {
        transform: translateX(0);
      }

      .auth__panel--right {
        transform: translateX(200%);
      }
    }

    /* FORMS */
    &__form {
      position: absolute;
      width: 50%;
      height: 100%;
      transition: all 0.6s ease-in-out;

      form {
        height: 100%;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input {
        width: 100%;
        padding: 10px 15px;
        margin: 8px 0;
        background: #eee;
        border-radius: 8px;
        border: none;
        outline: none;
      }

      button {
        margin-top: 10px;
        padding: 10px 45px;
        background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);
        color: #fff;
        border-radius: 8px;
        border: none;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
      }

      span {
        font-size: 12px;
      }

      a {
        font-size: 13px;
        margin: 10px 0;
        color: #333;
        text-decoration: none;
      }
    }

    &__form--signin {
      left: 0;
      z-index: 2;
    }

    &__form--signup {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    /* SOCIAL */
    &__socials {
      margin: 20px 0;

      a {
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        color: #333;
      }
    }

    /* TOGGLE */
    &__toggle-wrapper {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      border-radius: 150px 0 0 100px;
      transition: all 0.6s ease-in-out;
      z-index: 1000;
    }

    &__toggle {
      // background: linear-gradient(to right, #5c6bc0, #512da8);
      background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);
      width: 200%;
      height: 100%;
      position: relative;
      left: -100%;
      transition: all 0.6s ease-in-out;
      color: #fff;
    }

    &__panel {
      position: absolute;
      width: 50%;
      height: 100%;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all 0.6s ease-in-out;

      .ghost {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 12px;
        padding: 10px 45px;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
      }
    }

    &__panel--left {
      transform: translateX(-200%);
    }

    &__panel--right {
      right: 0;
    }
  }
}