@font-face {
  font-family: "AlexBrush-Regular";
  src: url("/src/assets/fonts/AlexBrush-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("/src/assets/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("/src/assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/src/assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/src/assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Muller-Trial-Regular";
  src: url("/src/assets/fonts/Muller-Trial-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Muller-Trial-Medium";
  src: url("/src/assets/fonts/Muller-Trial-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Muller-Trial-Bold";
  src: url("/src/assets/fonts/Muller-Trial-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Muller-Trial-ExtraBold";
  src: url("/src/assets/fonts/Muller-Trial-ExtraBold.ttf");
  font-weight: 800;
}
