@font-face {
    font-family: "AlexBrush-Regular";
    src: url("/src/assets/fonts/AlexBrush-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/src/assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Muller-Trial-Regular";
    src: url("/src/assets/fonts/Muller-Trial-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Muller-Trial-Medium";
    src: url("/src/assets/fonts/Muller-Trial-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Muller-Trial-Bold";
    src: url("/src/assets/fonts/Muller-Trial-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Muller-Trial-ExtraBold";
    src: url("/src/assets/fonts/Muller-Trial-ExtraBold.ttf");
    font-weight: 800;
}