@use "./common/fonts.scss";
@use "./common/common.scss";
@use "./components-scss/nav.scss";
@use "./components-scss/intro.scss";
@use "./components-scss/menu.scss";
@use "./components-scss/events.scss";
@use "./components-scss/about.scss";

@use "./pages-scss/Login.scss";
@use "./pages-scss/Basket.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
