@use "./common/fonts.scss";
@use "./common/common.scss";

:root {
  --white: #fff;
  --grey: #a3a3a3;
  --a400: "AlexBrush-Regular";
  --m400: "Montserrat-Regular";
  --mt400: "Muller-Trial-Regular";
  --mt500: "Muller-Trial-Medium";
  --mt700: "Muller-Trial-Bold";
  --mt800: "Muller-Trial-ExtraBold";
}

.nav {
  position: sticky;
  padding: 20px 0;
  top: 0;
  left: 0;
  z-index: 3;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 75%,
    rgba(0, 0, 0, 0.6) 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    black 75%,
    rgba(0, 0, 0, 0.6) 85%,
    transparent 100%
  );
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__list {
      display: flex;
      gap: 80px;

      .nav__link {
        font-family: var(--mt400);
        font-size: 17.88px;
        color: #fff;

        &:hover {
          color: #ffa228;
          transition: 0.5s;
        }
      }
    }

    .nav__pages {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 26px;
      .nav__login--btn {
        font-family: var(--mt500);
        font-size: 17.74px;
        color: var(--white);

        padding: 11px 56px 10px 56px;
        border-radius: 20px;
        transition: 0.5s;
        background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);

        &:active {
          transform: scale(0.8);
        }
      }

      .nav__basket--btn {
        border-radius: 25px;
        padding: 7px 8px;

        transition: 0.5s;
        background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);

        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}

.intro {
  margin-top: 41px;
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--info {
      .intro__title {
        max-width: 538px;
        font-family: var(--mt800);
        font-size: 69.17px;
        color: var(--white);
      }

      .intro__text {
        max-width: 411px;
        font-family: var(--mt400);
        font-size: 19.56px;
        color: var(--grey);
        margin-top: 12px;
        margin-bottom: 23px;

        span {
          color: #fff;
        }
      }

      .info__box {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .info__title {
          font-family: var(--mt400);
          font-size: 19.56px;
          color: var(--grey);
        }

        &--images {
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;

          .info__play {
            position: absolute;
          }
        }
      }

      .info__btns {
        position: relative;
        display: flex;
        align-items: center;
        background: transparent;
        border: 2px solid #ff8a1f;
        border-radius: 999px;
        width: max-content;
        margin-top: 58px;

        .info__btn--order,
        .info__btn--menu {
          position: relative;
          padding: 16px 72px;
          font-size: 18px;
          border: none;
          background: transparent;
          color: #ff8a1f;
          cursor: pointer;
          border-radius: 999px;
          z-index: 1;

          font-family: var(--mt500);
          font-size: 22.44px;
        }

        .info__btn--order.active,
        .info__btn--menu.active {
          background: linear-gradient(90deg, #ff5d29, #ff9b1c);
          color: white;
          z-index: 2;
        }

        .info__btn--menu {
          margin-left: -20px;
        }

        .intro__arrow__toMenu {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(120%, 60%);
        }
      }
    }

    .intro__img1 {
      width: 500px;
    }
  }
}

.menu {
  &__box {
    .menu__title {
      margin-top: 100px;
    }

    .menu__filter--box {
      display: flex;
      justify-content: space-evenly;

      .menu__btn {
        padding: 19px 54px;
        border-radius: 100px;
        box-shadow: 0px 9px 40px 0px #ff6b000f;
        font-family: var(--mt500);
        font-size: 22px;
        background: transparent;
        color: #fff;

        &.active {
          background: linear-gradient(90deg, #ff5d29, #ff9b1c);
          color: white;
        }
      }
    }

    .menu__products--box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 112px;
      gap: 54px 10px;

      .product {
        position: relative;
        padding-bottom: 23px;
        max-width: 297px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 29.53px;
        background-color: #210a01;
        gap: 20px;
        &__img {
          width: 159px;
          height: 157px;
          transform: translateY(-30%);
        }

        &__title {
          font-family: var(--mt500);
          font-size: 25.1px;
          color: #fff;
        }

        &__text {
          font-family: var(--m400);
          font-size: 14.32px;
          color: #a3a3a3;
          text-align: center;
        }

        &__btns {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .product__btn {
            padding: 11px 11px;
            background: none;

            color: #a3a3a3;
            border: 1.5px solid #a3a3a3;
            border-radius: 50%;

            &.active {
              background: linear-gradient(
                261.69deg,
                #ff5924 12.12%,
                #ffa229 86.72%
              );
              color: #fff;
              padding: 11px 12px;
              border: none;
            }
          }
        }

        .product_addIngridient--btn {
          border: 1.5px solid #ff8a1f;
          padding: 11px 51px;
          border-radius: 85px;
          color: #ff8a1f;
          background: transparent;

          font-family: var(--mt400);
          font-size: 16.08px;

          span {
            font-family: none;
          }
        }

        .product__purchase {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .product__price {
            position: relative;
            font-family: var(--mt500);
            font-size: 25.46px;
            color: #ffffff;

            & span {
              position: absolute;
              top: -20%;
              right: -20%;
              font-family: none;
              font-size: 20px;
            }
          }

          .product__amount--box {
            display: flex;
            align-items: center;
            gap: 10px;

            .amount__btn--plus {
              width: 23px;
              height: 23px;
              font-size: 17.66px;
              background: linear-gradient(
                261.69deg,
                #ff5924 12.12%,
                #ffa229 86.72%
              );
              border-radius: 50%;
              color: #fff;
            }

            .amount__btn--minus {
              width: 23px;
              height: 23px;
              background: none;
              border: 1.5px solid #a3a3a3;
              color: #a3a3a3;
              border-radius: 50%;
              font-size: 17.66px;
            }

            .product__amount {
              height: 25px;
              font-family: var(--mt400);
              font-size: 22.82px;
              color: #a3a3a3;
            }
          }
        }

        .product__order--btn {
          padding: 13px 52px;
          border-radius: 84.37px;
          font-family: var(--mt500);
          font-size: 17.45px;
          color: #fff;
        }
      }

      .menu__popular--title {
        background-image: url(/src/assets/images/menu_most_popular_pizza_bg.png);
        width: 100%;
        height: 286px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: var(--mt500);
        font-size: 43.86px;
        color: #ffffff;
        margin-bottom: 50px;
      }
    }
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  .events {
    position: relative;
    &__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .events__card {
        width: 401px;
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        padding-left: 25px;

        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .card__title {
          max-width: 168px;
          color: #fff;
        }
        .card__link {
          background: linear-gradient(
            261.69deg,
            #ff5d29 12.12%,
            #fe9c1c 86.72%
          );
          padding: 10px 83px;
          border-radius: 33px;
          color: #fff;
          &:active {
            transition: 0.5s;
            transform: scale(0.9);
          }
        }
        &:nth-child(1) {
          max-width: 367px;
          width: 100%;
          background-image: url(../images/events1.png);
        }
        &:nth-child(2) {
          max-width: 367px;
          width: 100%;
          background-image: url(../images/events2.png);
        }
        &:nth-child(4) {
          max-width: 600px;
          width: 100%;
          background-image: url(../images/events3.png);
        }
        &:nth-child(5) {
          max-width: 600px;
          width: 100%;
          background-image: url(../images/events4.png);
        }
        &:nth-child(6) {
          max-width: 390px;
          width: 100%;
          background-image: url(../images/events5.png);
        }
        &:nth-child(7) {
          max-width: 390px;
          width: 100%;
          background-image: url(../images/events6.png);
        }
        &:nth-child(8) {
          max-width: 390px;
          width: 100%;
          background-image: url(../images/events7.png);
        }
      }
      .events__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 428px;
        .events__text {
          font-family: var(--mt400);
          font-size: 19.56px;
          line-height: 136%;
          text-align: right;
          color: #a3a3a3;
        }
      }
      .events__burito {
        position: absolute;
        top: 30%;
        right: -5%;
      }
      .events__coffee {
        position: absolute;
        left: -3%;
        bottom: -15%;
      }
      .events__eggandbacon {
        position: absolute;
        top: 13%;
        left: -3%;
      }
    }
  }
  .about {
    &__box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .about__info--box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        gap: 20px;
        .about__pizzas__image {
          width: 490px;
        }
        .about__text {
          max-width: 459px;
          font-family: var(--mt400);
          font-size: 19.56px;
          line-height: 136%;
          color: #a3a3a3;
        }
      }
      .about__main--pizza {
        height: fit-content;
      }
    }
  }
}
.footer {
  margin-top: 90px;
  padding: 70px 0;
  background: linear-gradient(
    245.71deg,
    #170a00 4.96%,
    #170600 33.7%,
    #0f0700 68.41%,
    #170a00 96.42%
  );

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 90px;
    .footer__box--top {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 84px;
      .footer__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 12px;
        .footer__title {
          font-family: var(--mt400);
          font-size: 19.63px;
          line-height: 126%;
          letter-spacing: -2%;
          color: #a3a3a3;
        }
        .footer__link {
          font-family: var(--m400);
          font-size: 17.72px;
          line-height: 126%;
          letter-spacing: -2%;
          color: #515151;
          &:hover {
            transition: 0.5s;
            color: #c5c5c5;
          }
        }
      }
    }
    .footer__box--bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer__phone {
        font-family: var(--mt400);
        font-size: 20.88px;
        line-height: 126%;
        letter-spacing: -2%;
        color: #ffa32b;
        & span {
          font-family: Arial;
        }
      }
      .foooter__bottom--images{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img{
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
