@use "./common/fonts.scss";
@use "./common/common.scss";

:root {
  --white: #fff;
  --grey: #a3a3a3;
  --a400: "AlexBrush-Regular";
  --m400: "Montserrat-Regular";
  --mt400: "Muller-Trial-Regular";
  --mt500: "Muller-Trial-Medium";
  --mt700: "Muller-Trial-Bold";
  --mt800: "Muller-Trial-ExtraBold";
}

.nav {
  position: sticky;
  padding: 20px 0;
  top: 0;
  left: 0;
  z-index: 3;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 75%,
    rgba(0, 0, 0, 0.6) 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    black 75%,
    rgba(0, 0, 0, 0.6) 85%,
    transparent 100%
  );
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo {
      font-family: var(--mt800);
      font-size: 34.06px;
      line-height: 110.00000000000001%;
      background: linear-gradient(261.69deg, #ff6432 12.12%, #ffa228 86.72%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .nav__list {
      display: flex;
      gap: 80px;

      .nav__link {
        font-family: var(--mt400);
        font-size: 17.88px;
        color: #fff;

        &:hover {
          color: #ffa228;
          transition: 0.5s;
        }
      }
    }

    .nav__pages {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 26px;
      .nav__login--btn {
        font-family: var(--mt500);
        font-size: 17.74px;
        color: var(--white);

        padding: 11px 56px 10px 56px;
        border-radius: 20px;
        transition: 0.5s;
        background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);

        &:active {
          transform: scale(0.8);
        }
      }

      .nav__basket--btn {
        border-radius: 25px;
        padding: 8px 8px;

        transition: 0.5s;
        background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);

        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}

.intro {
  margin-top: 41px;
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--info {
      .intro__title {
        max-width: 538px;
        font-family: var(--mt800);
        font-size: 69.17px;
        color: var(--white);
      }

      .intro__text {
        max-width: 411px;
        font-family: var(--mt400);
        font-size: 19.56px;
        color: var(--grey);
        margin-top: 12px;
        margin-bottom: 23px;

        span {
          color: #fff;
        }
      }

      .info__box {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .info__title {
          font-family: var(--mt400);
          font-size: 19.56px;
          color: var(--grey);
        }

        &--images {
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;

          .info__play {
            position: absolute;
          }
        }
      }

      .info__btns {
        position: relative;
        display: flex;
        align-items: center;
        background: transparent;
        border: 2px solid #ff8a1f;
        border-radius: 999px;
        width: max-content;
        margin-top: 58px;

        .info__btn--order,
        .info__btn--menu {
          position: relative;
          padding: 16px 72px;
          font-size: 18px;
          border: none;
          background: transparent;
          color: #ff8a1f;
          cursor: pointer;
          border-radius: 999px;
          z-index: 1;

          font-family: var(--mt500);
          font-size: 22.44px;
        }

        .info__btn--order.active,
        .info__btn--menu.active {
          background: linear-gradient(90deg, #ff5d29, #ff9b1c);
          color: white;
          z-index: 2;
        }

        .info__btn--menu {
          margin-left: -20px;
        }

        .intro__arrow__toMenu {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(120%, 60%);
        }
      }
    }

    .intro__img1 {
      width: 500px;
    }
  }
}

.menu {
  &__box {
    .menu__title {
      margin-top: 100px;
    }

    .menu__filter--box {
      display: flex;
      justify-content: space-evenly;

      .menu__btn {
        padding: 19px 54px;
        border-radius: 100px;
        box-shadow: 0px 9px 40px 0px #ff6b000f;
        font-family: var(--mt500);
        font-size: 22px;
        background: transparent;
        color: #fff;

        &.active {
          background: linear-gradient(90deg, #ff5d29, #ff9b1c);
          color: white;
        }
      }
    }

    .menu__products--box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 112px;
      gap: 54px 10px;

      .product {
        position: relative;
        padding-bottom: 23px;
        max-width: 297px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 29.53px;
        background-color: #210a01;
        gap: 20px;
        &__img {
          width: 159px;
          height: 157px;
          transform: translateY(-30%);
        }

        &__title {
          font-family: var(--mt500);
          font-size: 25.1px;
          color: #fff;
        }

        &__text {
          font-family: var(--m400);
          font-size: 14.32px;
          color: #a3a3a3;
          text-align: center;
        }

        &__btns {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .product__btn {
            padding: 11px 11px;
            background: none;

            color: #a3a3a3;
            border: 1.5px solid #a3a3a3;
            border-radius: 50%;

            &.active {
              background: linear-gradient(
                261.69deg,
                #ff5924 12.12%,
                #ffa229 86.72%
              );
              color: #fff;
              padding: 11px 12px;
              border: none;
            }
          }
        }

        .product_addIngridient--btn {
          border: 1.5px solid #ff8a1f;
          padding: 11px 51px;
          border-radius: 85px;
          color: #ff8a1f;
          background: transparent;

          font-family: var(--mt400);
          font-size: 16.08px;

          span {
            font-family: none;
          }
        }

        .product__purchase {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .product__price {
            position: relative;
            font-family: var(--mt500);
            font-size: 25.46px;
            color: #ffffff;

            & span {
              position: absolute;
              top: -20%;
              right: -20%;
              font-family: none;
              font-size: 20px;
            }
          }

          .product__amount--box {
            display: flex;
            align-items: center;
            gap: 10px;

            .amount__btn--plus {
              width: 23px;
              height: 23px;
              font-size: 17.66px;
              background: linear-gradient(
                261.69deg,
                #ff5924 12.12%,
                #ffa229 86.72%
              );
              border-radius: 50%;
              color: #fff;
            }

            .amount__btn--minus {
              width: 23px;
              height: 23px;
              background: none;
              border: 1.5px solid #a3a3a3;
              color: #a3a3a3;
              border-radius: 50%;
              font-size: 17.66px;
            }

            .product__amount {
              height: 25px;
              font-family: var(--mt400);
              font-size: 22.82px;
              color: #a3a3a3;
            }
          }
        }

        .product__order--btn {
          padding: 13px 52px;
          border-radius: 84.37px;
          font-family: var(--mt500);
          font-size: 17.45px;
          color: #fff;
        }
      }

      .menu__popular--title {
        background-image: url(/src/assets/images/menu_most_popular_pizza_bg.png);
        width: 100%;
        height: 286px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: var(--mt500);
        font-size: 43.86px;
        color: #ffffff;
        margin-bottom: 50px;
      }
    }
  }
}
